<div id="card">
  <input
    type="text"
    [ngModel]="wordPair().original"
    (ngModelChange)="updateOriginal($event)"
  />
  <input
    type="text"
    [ngModel]="wordPair().translation"
    (ngModelChange)="updateTranslation($event)"
  />
</div>
@if (data.original == '' && data.translation == '') {
<button class="btn-primary" (click)="addVocabulary()">
  Vokabel hinzufügen
</button>
} @else {
<button class="btn-primary" (click)="editVocabulary()">
  Änderungen speichern
</button>
}
