@use "../../../../variables" as *;

#card {
  position: relative;
  height: 10rem;
  width: 20rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
  color: $color-blue;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}
